body {
  background-color: #bacec1;
}

.page-title {
  background-color: #1d3124;
  color: #fff;
  padding: 8px;
}

button,
#postscore {
  background-color: #e59560;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.section-headers {
  background-color: #1d3124;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  padding: 8px;
}

h4 {
  line-height: normal;
  margin: 0;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 8px solid rgb(241, 234, 234);
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

li {
  border-bottom: 1px rgb(231, 227, 227) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  color: rgb(66, 69, 71);
  padding: 8px;
}

#score_list > li:nth-child(even) {
  background-color: white;
}

#score_list > li:nth-child(odd) {
  background-color: #738d7c;
}

#score_list {
  width: 60%;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

input {
  outline: none;
}
